.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-body {
    width: 100%;
    background-color: #222;
    height: auto;
}

.map {
  width: 80%;

  margin-bottom: 200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.Map-container {
  position: relative;
}

svg {
    position: absolute;
    top: 37%;
    left: 10%;
    fill-opacity: 0.7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (min-width: 1250px) {
  svg {
    top: 41.5%;
}
}